.direccion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1 {
    text-align: center;
    color: #000000;
    font-size: 65px;
    font-family: "Tiny5";
    font-weight: bolder;
}

button{
    align-self: center;
    height: 50px;
    width: 180px;
    font-size: 18px;
    background-color:#5a21df;
    color: #ffffff;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    border: solid 3px #2a0a74;
    transition: all 0.3s ;
}

button:hover {
    background-color:#5a21df20;
    color: #000000; 
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    padding: 20px;
    max-height: 550px; /* Establece una altura máxima */
    overflow-y: auto; /* Habilita el scroll vertical */
}

.pelicula {
    width: 28%;
    max-width: 380px;
    min-width: 300px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom: solid 4px rgb(59, 59, 59);
    border-right: solid 4px rgb(0, 0, 0);
    margin: 10px;
    margin-bottom: 20px;
}


.imagenPelicula {
    height: 385px;
    width: 100%;
    background-color: #080808;
    background-image: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.informacion {
    padding: 15px;
    min-height: 140px;
}

.informacion h2{
    font-size: 19px;
    margin-bottom: 5px;
}
.descripcion {
    font-size: 13px;
}

.contenedorDescripcion{
 min-height: 100px;    
}

.ranking {
    font-size: 11px;
}

.etiquetas {
    display: flex;
    margin-bottom: 15px;
}

.etiqueta {
    height: 20px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    color: white;
    font-size: 10px;
    margin-right: 10px;
    background-color: #5a21df;
    display: flex;
    align-items: center;
    justify-content: center;
}