.contenedor {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 500px;
    min-height: 360px;
    min-width: 700px;
}

.pelicula {
    width: 33%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    margin: 10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom: solid 4px rgb(59, 59, 59);
    border-right: solid 4px rgb(0, 0, 0);
}

.imagenPelicula {
    height: 375px;
    width: 100%;
    background-color: #080808;
    background-image: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.informacion {
    padding: 15px;
}

.informacion h2{
    font-size: 19px;
    margin-bottom: 5px;
}
.descripcion {
    font-size: 13px;
}

.contenedorDescripcion{
 min-height: 90px;    
}

.ranking {
    font-size: 11px;
}

.etiquetas {
    display: flex;
    margin-bottom: 15px;
}

.etiqueta {
    height: 20px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    color: white;
    font-size: 10px;
    margin-right: 10px;
    background-color: #5a21df;
    display: flex;
    align-items: center;
    justify-content: center;

}